ng-component {
  display: block;
}

.mosst-code-detailed {
  height: 650px;
  padding-top: 43px;
  background: #fff;
  border-radius: 5px;
  box-shadow: $containerShadow;
  margin-bottom: 8px;
  &__title {
    text-align: center;
    margin-bottom: 58px;
  }
  /* ---------- Barcode ---------- */
  .barcode-holder {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 620px;
    margin: 0 auto 35px;
    .barcode {
      position: relative;
      margin-right: 45px;
      svg {
        width: 325px !important;
        height: 205px !important;
        g {
          text {
            font-size: 18px !important;
          }
          &:nth-child(2), &:nth-child(4) {
            text {
              fill: #95989a !important;
              font-size: 14px !important;
            }
          }
        }
      }
    }
    .barcode-description {
      width: 285px;
      padding-top: 29px;
      &__item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        border-bottom: 1px solid $borderColor;
        & + .barcode-description__item {
          margin-top: 8px;
        }
        .item-value {
          text-align: right;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }

  }
  /* ---------- Payment term ---------- */
  &__payment-term {
    margin-bottom: 46px;
    text-align: center;
    font-size: .875rem;
    .payment-date, .payment-time {
      color: #fc547c;
      font-weight: 600;
    }
  }
  /* ----------  Code states ---------- */
  &.paid-code {
    .barcode {
      //&:before {
      //  content: "\F12C";
      //  font-family: $iconFont;
      //  position: absolute;
      //  top: 90px;
      //  left: 100px;
      //  font-size: 160px;
      //  color: #1daafc;
      //  z-index: 2;
      //}
      //svg {
      //  opacity: .1;
      //}
    }
    .mosst-code-detailed__payment-term {
      .payment-date, .payment-time {
        color: $textColor;
      }
    }
  }
  &.unsuccessful-code {
    .mosst-code-detailed__payment-term, .success-title {
      color: #fc547c;
    }
    .mosst-code-detailed__payment-term {
      font-size: 1.2rem;
    }
  }
  /* ----------  Actions bar ---------- */
  &__actions-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 40px;
  }
  .actions-bar {
    &__action-button {
      position: relative;
      & + .actions-bar__action-button {
        margin-left: 16px;
      }
    }
  }
  /* ----------  Remind bar ---------- */
  .remind-button-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 122px;
    border-top: 1px solid $borderColor;
    .buttons-bar {
      position: relative;
      margin: 0 16px;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1);
        opacity: 0;
        width: 280px;
        height: 280px;
        background: transparentize(#fff, .3);
        border-radius: 50%;
        z-index: 1;
        transition: transform .8s ease-in-out, opacity .8s ease-out;
        pointer-events: none;
      }
    }
  }
  .remind-button {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    padding: 0;
    box-shadow: 0 3px 12px 1px transparentize(#1daafc, .5);
    border-radius: 50%;
    background: $bgButton;
    font-size: .7rem;
    color: #fff;
    z-index: 2;
    transition: box-shadow .4s;
    &:hover {
      box-shadow: 0 5px 15px 4px transparentize(#1daafc, .5);
      transition: box-shadow .4s;
    }
    span {
      &:first-child {
        display: block;
        font-size: 1.1rem;
        font-weight: 600;
      }
      &:last-child {
        line-height: .8;
      }
    }
    &:not(:first-child) {
      opacity: 0;
      pointer-events: none;
    }
    &:nth-child(2) {
      transform: translate3d(-75px, 27px, 0);
      background: #139cec;
      transition: transform .3s cubic-bezier(.6, -3, 0.735, 0.05) .3s,
      opacity .42s ease-in-out .3s;
    }
    &:nth-child(3) {
      transform: translate3d(-30px, 71px, 0);
      background: #139cec;
      transition: transform .3s cubic-bezier(.6, -3, 0.735, 0.05) .2s,
      opacity .42s ease-in-out .2s;
    }
    &:nth-child(4) {
      transform: translate3d(30px, 71px, 0);
      background: #0e8bd4;
      transition: transform .3s cubic-bezier(.6, -3, 0.735, 0.05) .1s,
      opacity .42s ease-in-out .1s;
    }
    &:nth-child(5) {
      transform: translate3d(75px, 27px, 0);
      background: #0668a2;
      transition: transform .3s cubic-bezier(.6, -3, 0.735, 0.05) 0s,
      opacity .42s ease-in-out 0s;
    }
  }
  .open-bar {
    &.buttons-bar {
      &:before {
        opacity: 1;
        transform: translate3d(-50%, -50%, 0) scale(1);
        transition: transform .8s ease-in-out, opacity .8s ease-out;
        pointer-events: auto;
      }
    }
    .remind-button {
      opacity: 1;
      pointer-events: auto;
      &:nth-child(2) {
        transform: translate3d(-87px, 32px, 0);
        transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 4),
        opacity .2s ease-in-out;
      }
      &:nth-child(3) {
        transform: translate3d(-36px, 84px, 0);
        transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 4) .1s,
        opacity .2s ease-in-out .1s;
      }
      &:nth-child(4) {
        transform: translate3d(36px, 84px, 0);
        transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 4) .2s,
        opacity .2s ease-in-out .2s;
      }
      &:nth-child(5) {
        transform: translate3d(87px, 32px, 0);
        transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 4) .3s,
        opacity .2s ease-in-out .3s;
      }
    }
  }
  .current-term {
    position: relative;
  }
  .success-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-top: 1px solid $borderColor;
    padding: 25px 30px 29px;
    &__img-holder {
      @include logo(65px);
    }
    &__content {
      max-width: 570px;
      padding-left: 20px;
      .success-title {
        font-weight: 600;
        font-size: 1.1rem;
      }
      .success-content {
        font-size: 1.1rem;
      }
    }
    .button {
      margin-left: auto;
    }
  }
}
