sui-accordion-panel, sui-accordion {
  display: block;
  & > .title {
    padding: 0 !important;
  }
}

.collapsed {
  overflow: hidden;
}

.requisites-list-holder {
  transition: all 1s;
  //height: 0;
  overflow: hidden;
}

.payment-providers-list {
  background: #fff;
  border-radius: 5px;
  box-shadow: $containerShadow;
}

.payment-provider {
  &__head {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 14px 52px 17px 16px;
    border-bottom: 1px solid $borderColor;
    &:before {
      content: '\F140';
      font-family: $iconFont;
      position: absolute;
      font-size: 1.5rem;
      right: 20px;
      @include centerize(false, true);
      @include anim($param: opacity, $dur: .2s);
    }
    .provider-logo {
      @include logo(46px);
      margin-right: 15px;
    }
    .active & {
      &:before {
        content: '\F143';
      }
    }
  }
  .head {
    &__left-side, &__right-side {
      .provider-title, .provider-sum {
        display: block;
        margin-bottom: 7px;
        padding: 0;
        @extend %overflow-txt;
        line-height: 1.2;
        font-size: 1.5rem;
        color: $titleColor;
      }
      .provider-subtitle, .provider-commission {
        display: block;
        font-size: .875rem;
        color: $titleColor;
      }
    }
    &__left-side {
      display: flex;
      flex-flow: row nowrap;
      max-width: 550px;
    }
    &__right-side {
      text-align: right;
    }
  }
  &__content {
    transition: height 1s;
    overflow: hidden;
    padding-bottom: 40px;
  }
}
