.mosst-code-empty {
  height: 642px;
  padding-top: 50px;
  .content__title {
    margin-bottom: 135px;
  }
  &__guide-steps {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 62px;
    .guide-vector, .guide-step {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
    }
    .guide-vector {
      width: 120px;
    }
    .guide-step {
      width: 135px;
      &__img-holder {
        height: 115px;
        display: flex;
        align-items: center;
        img  {
          width: 112px;
        }
      }
      &__vector {
        height: 115px;
        img {
          width: 48px;
        }
      }
      &__description {
        padding-top: 31px;
        text-align: center;
        font-size: .875rem;
        color: #bfc4c8;
      }
    }
  }
  .button {
    display: block;
    margin: 0 auto;
  }
}
