/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "Roboto";
  src: url("../../../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../../../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
  url("../../../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("../../../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../../../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../../../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
  url("../../../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
  url("../../../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
