.autocomplete-search-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  .mat-input-container {
    width: 100%;
    max-width: 488px;
  }
  .mat-input-wrapper {
    width: 100%;
    max-width: 488px;
    height: 72px;
    margin: 0 auto !important;
    padding: 0;
    border: 1px solid $borderInput;
    border-radius: 5px;
    .right-widget--map-widget & {
      height: 45px;
    }
  }
  .mat-input-table {
    height: 100%;
  }
  .mat-input-infix {
    display: flex;
    align-items: center;
    height: 100%;
    .right-widget--map-widget & {
      height: 43px;
    }
    input {
      display: block;
      padding-left: 65px;
      .right-widget--map-widget & {
        padding-left: 25px;
      }
    }
    label {
      color: $inputColor;
      font-size: .85rem;
    }
  }
  .mat-input-placeholder-wrapper {
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    overflow: visible;
  }
  .mat-input-placeholder {
    display: flex !important;
    align-items: center;
    height: 35px;
    vertical-align: middle;
    padding: 0 0 0 65px;
    overflow: hidden;
    transition: transform 0s;
    @include centerize(false, true);
    .right-widget--map-widget & {
      padding: 0 0 0 35px;
    }
    &:before {
      content: '\f349';
      position: absolute;
      @include centerize(false, true);
      left: 10px;
      display: inline-block;
      font-family: $iconFont;
      font-size: 1.5rem;
      opacity: .7;
    }
  }
  /* ----------  Change input + label focus   ---------- */
  .mat-input-placeholder.mat-float.mat-focused,
  .mat-input-placeholder.mat-float:not(.mat-empty) {
    transform: translateY(0) scale(1) !important;
    opacity: 0;
  }
}

/* ----------  Autocomplete dropdown ---------- */
.cdk-overlay-pane {
  //transform: translateY(30px);
  .mat-autocomplete-panel {
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    box-shadow: none !important;
    border-radius: 5px;
    border: 1px solid $borderInput;
    .mat-option {
      display: flex;
      align-items: center;
      height: 40px;
      line-height: 1;
      color: $textColor;
    }
    .mat-option-ripple {
      color: $textColor;
      font-size: 1rem;
      line-height: 1;
      height: 40px;
      display: flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

/* ----------  Goggle dropdown autocomplete ---------- */
.pac-container {
  transform: translateY(10px);
  margin: 0;
  box-shadow: none;
  border-radius: 5px;
  border: 1px solid $borderInput;
  &:after {
    display: none;
  }
  .pac-item {
    position: relative;
    height: 40px;
    line-height: 40px;
    border: none;
    color: $textColor;
    font-size: 1rem;
    cursor: pointer;
    @include anim($param: background, $dur: .15s);
    &:hover {
      background: $bgSelectHover;
    }
  }
  .pac-icon {
    margin: 0;
    position: absolute;
    @include centerize(false,true)
  }
  .pac-item-query {
    margin-left: 20px;
    font-size: 1rem;
    color: darken($textColor, 20%);
    & + span {
      font-size: 1rem;
      color: $textColor;
    }
  }
}

