.form-item {
  position: relative;
  input {
    background-color: #fff;
    border: 1px solid #bcccd3;
    border-radius: 4px;
    line-height: 20px;
    padding: 17px 20px 16px;
    width: 100%;
    @include anim;
    &:focus {
      border-color: darken(#bcccd3, 20%);
    }
    &.parsley-error {
      border-color: darkred;
    }
    &.parsley-success {
      border-color: #30c4f3;
    }
  }
  .parsley-errors-list {
    position: absolute;
    z-index: 1;
    color: darkred;
    left: 0;
    bottom: calc(100% + 5px);
    width: 100%;
    @extend %list-reset;
  }
}

.button {
  border: none;
  padding: 14px 24px;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: .95rem;
  font-weight: 600;
  color: #fff;
  background: $bgButton;
  box-shadow: $buttonShadow;
  transition: background .12s, box-shadow .12s, color .12s, border .12s;
  &:hover {
    background: $buttonHover;
  }
  &[disabled] {
    background: $bgButtonDisabled;
    color: $buttonColor;
    pointer-events: none;
    box-shadow: $buttonShadowDisabled;
  }
  &:active {
    background: $buttonActive;
    box-shadow: $buttonShadowActive;
  }
  &--green {
    background: $bgGreenButton;
    box-shadow: $buttonGreenShadow;
    &:hover {
      background: $greenButtonHover;
    }
  }
  &--frame {
    background: transparent;
    border: 1px solid $borderColor;
    color: $bgButton;
    box-shadow: $buttonShadowDisabled;
    &:hover {
      background: $bgButton;
      color: #fff;
      border: 1px solid $bgButton;
      box-shadow: $buttonShadow;
    }
  }
  &.register-button {
    padding-left: 60px;
    position: relative;
    &:before {
      position: absolute;
      @include centerize(false, true);
      left: 21px;
      color: $bgButton;
      font-size: 1.8rem;
      @include anim($param: color, $dur: .12s);
    }
    &:hover {
      &:before {
        color: #fff;
      }
    }
  }
}

.i-button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $borderColor;
  background: #fff;
  will-change: background, border;
  @include anim($dur: .3s, $type: ease-out);
  @include anim-param(background, border);
  z-index: 3;
  i {
    @include centerize(true, true);
    &:before {
      color: $bgButton;
      font-size: 1.5rem;
      @include anim($param: color, $dur: .3s, $type: ease-out);
      will-change: color;
    }
  }
  span {
    position: absolute;
    pointer-events: none;
    opacity: 0;
  }
  &:hover {
    background: $bgButton;
    border-color: $bgButton;
    i:before {
      color: #fff;
    }
  }
}

/* ----------  Tooltip ---------- */
.actions-bar__action-button {
  &:hover {
    .button-tooltip {
      pointer-events: auto;
      opacity: 1;
      transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 0, 0);
    }
  }
}

.tooltip {
  position: absolute;
  left: 50%;
  bottom: 125%;
  width: 100px;
  box-shadow: 0 3px 13px 0 transparentize(#000, .7);
  border-radius: 5px;
  padding: 8px 10px;
  background: #fff;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.4;
  color: $textColor;
  z-index: 2;
  opacity: 0;
  cursor: default;
  pointer-events: none;
  &:after {
    content: '';
    position: absolute;
    z-index: 3;
    display: block;
    width: 15px;
    height: 15px;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    background: #fff;
  }
  &:before {
    content: '';
    position: absolute;
    z-index: -2;
    display: block;
    width: 15px;
    height: 15px;
    background: #fff;
    left: 50%;
    bottom: -7px;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 3px 3px 6px transparentize(#000, .9);
  }
}

.button-tooltip {
  width: 100px;
  transform-origin: 50% calc(100% + 6em);
  transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, 15deg);
  transition: opacity 0.25s ease, transform 0.3s cubic-bezier(.17, .67, .4, 1.39);
}
