.input-holder {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 64px;
  border: 1px solid $borderInput;
  border-radius: 5px;
  @include anim($param: border-color, $dur: .15s);
  label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(25px, -50%, 0) scale(1);
    transform-origin: 0;
    font-size: .8rem;
    color: $labelColor;
    pointer-events: none;
    transition: top .15s, font-size .15s, transform .15s;
  }
  input {
    display: block;
    width: 100%;
    height: 62px;
    padding-left: 25px;
    padding-right: 5px;
    border: none;
    background: transparent;
    color: $inputColor;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-shadow: none;
  }
  &.focus-field {
    border-color: $focusInputBorder;
  }
  &.error-input {
    border-color: $errorColor;
  }
  .mdi {
    position: absolute;
    @include centerize(false, true);
    right: 15px;
    font-size: 1.2rem;
    &-alert {
      color: $errorColor;
    }
    &-check {
      color: $bgButton;
    }
  }
  .mdi-alert {
    & + .mdi-check {
      display: none;
    }
  }
}

/* ---------- Single custom input field ---------- */
.input-holder{
  &.simple-field {
    input {
      &:focus, &:valid {
        & + label {
          transform: translate3d(25px, -23px, 0) scale(.7);
        }
      }
    }
  }
  &.search-field {
    align-items: flex-end;
    &:before {
      content: '\f349';
      position: absolute;
      @include centerize(false, true);
      left: 10px;
      display: inline-block;
      font-family: $iconFont;
      font-size: 1.5rem;
      opacity: .7;
    }
    label {
      font-size: 1rem;
      padding-left: 35px;
      @include anim($param: opacity, $dur: .15s)
    }
    input {
      padding-left: 35px;
      color: darken($textColor, 20%);
      box-sizing: content-box;
      &:focus, &:valid {
        & + label {
          opacity: 0;
        }
      }
    }
  }
}

.form-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  @include breakpoint($mq-tablet) {
    flex-flow: row wrap;
    justify-content: center;
  }
}

/* ---------- Material group inputs ---------- */
.inputs-group {
  form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .input-block {
      width: 100%;
      .mat-input-wrapper {
        padding: 0;
        margin: 0;
      }
      .mat-input-placeholder-wrapper {
        padding-top: 15px;
      }
    }
  }
  .input-holder {
    position: relative;
    .error-field {
      position: absolute;
      top: calc(100% + 5px);
      left: 0;
      color: red;
      font-size: .8rem;
      line-height: .9;

    }
  }
  .form-row {
    & + .form-row {
      margin-left: 8px;
    }
  }
}
/* ---------- END Material group inputs ---------- */
