.mat-input-underline {
  display: none;
}
/* ----------  Change input + label focus   ---------- */
.mat-input-placeholder.mat-float.mat-focused,
.mat-input-placeholder.mat-float:not(.mat-empty) {
  transform: translateY(-15px) scale(.75) !important;
}
