.switcher {
  position: relative;
  display: inline-block;
  width: 182px;
  height: 34px;
  cursor: pointer;
  input {
    position: absolute;
    left: -9999em;
  }
  input:checked ~ .circle {
    left: calc(100% - 91px);
    span {
      &:first-child {
        opacity: 0;
      }
      &:last-child {
        opacity: 1;
      }
    }
  }
  input:checked ~ .title {
    span:first-child {
      opacity: 0;
    }
    span:last-child {
      opacity: 1;
    }
  }
  .title {
    @include anim;
    display: inline-block;
    width: 100%;
    height: 100%;
    //box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    background: #eceff1;
    color: #333;
    font-weight: bold;
    span {
      position: absolute;
      top: 50%;
      width: 100%;
      font-size: .875rem;
      color: #64686A;
      transform: translate(0, -50%);
      z-index: 2;
      @include anim($param: opacity);
      &:first-child {
        padding-left: 30px;
        padding-right: 30px;
        text-align: right;
        opacity: 1;
      }
      &:last-child {
        padding-right: 30px;
        padding-left: 30px;
        opacity: 0;
      }
    }
  }
  .circle {
    position: absolute;
    top: 50%;
    left: 1px;
    width: 90px;
    height: 32px;
    transform: translate(0, -50%);
    border-radius: 25px;
    background: #ffffff;
    box-shadow: 0 3px 6px 0 transparentize(#3b3e40, .7);
    @include anim($dur: .2s);
    z-index: 4;
    span {
      position: absolute;
      @include centerize(true, true);
      @include anim($param: opacity);
      font-size: .875rem;
      color: #64686A;
      &:first-child {
        opacity: 1;
      }
      &:last-child {
        opacity: 0;
      }
    }
  }
}
