.svg-app-store-dims {
	width: 95.317px;
	height: 25.447px;
}

.svg-commun-dims {
	width: 104px;
	height: 104px;
}

.svg-credits-dims {
	width: 104px;
	height: 104px;
}

.svg-distribut-dims {
	width: 104px;
	height: 104px;
}

.svg-fine-dims {
	width: 104px;
	height: 104px;
}

.svg-g-play-dims {
	width: 118.788px;
	height: 26.651px;
}

.svg-games-dims {
	width: 104px;
	height: 104px;
}

.svg-insur-dims {
	width: 104px;
	height: 104px;
}

.svg-internet-dims {
	width: 104px;
	height: 104px;
}

.svg-logo-comodo-dims {
	width: 140.052px;
	height: 44px;
}

.svg-logoRSA-dims {
	width: 61.9px;
	height: 44px;
}

.svg-logoSSL-dims {
	width: 37.34px;
	height: 44px;
}

.svg-mobile-dims {
	width: 104px;
	height: 104px;
}

.svg-rech-cart-dims {
	width: 104px;
	height: 104px;
}

.svg-requisites-dims {
	width: 104px;
	height: 104px;
}

.svg-tag-dims {
	width: 104px;
	height: 104px;
}

.svg-telephone-dims {
	width: 104px;
	height: 104px;
}

.svg-tickets-dims {
	width: 104px;
	height: 104px;
}

