app-auth-popup {
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparentize(#95989a, .5);
    z-index: 11;
    will-change: opacity;
  }
}
