.delete-popup {
  width: 509px;
  padding-bottom: 48px;
  .popup {
    &__img-holder {
      width: 280px;
      height: 195px;
      margin: 0 auto 70px;
      background: #fc3e6b;
      box-shadow: 0 27px 30px -17px transparentize(#fc3e6b, .2);
      border-bottom: 5px solid #ba2e4f;
      img {
        width: 95px;
      }
    }
  }
  .button {
    display: block;
    margin: 0 auto;
  }
}
