.popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  &[hidden] {
    display: none;
  }
}

.popup-fog {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: transparentize(#95989a, .5);
  cursor: pointer;
}

.popup {
  position: relative;
  //@include centerize(false, false);
  background: #fff;
  min-width: 420px;
  min-height: 400px;
  padding-top: 25px;
  border-radius: 4px;
  &__top-block {
    position: relative;
    margin-bottom: 47px;
    background: #fff;
    .title {
      text-align: center;
      font-size: .75rem;
    }
    .close {
      position: absolute;
      top: 4px;
      right: 28px;
      width: 20px;
      height: 20px;
      transition: opacity .2s;
      cursor: pointer;
      &:before {
        font-size: 1.7rem;
        color: #1daafc;
      }
      &:hover {
        opacity: .8;
      }
    }
  }
  &__img-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 61px;
    border-bottom: 5px solid #188fd4;
    background: #1daafc;
    border-radius: 8px;
    box-shadow: 0 27px 30px -17px transparentize(#1daafc, .2);
  }
  &__info {
    text-align: center;
    max-width: 350px;
    margin: 0 auto 47px;
    color: $titleColor;
  }
}
