.reg-register-form {
  .input-holder {
    display: flex;
    align-items: center;
    position: relative;
    height: 46px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    label {
      position: absolute;
      top: 50%;
      left: 25px;
      transform: translateY(-50%) scale(1);
      transform-origin: bottom left;
      padding-left: 0;
      font-size: .8rem;
      color: #9A9D9F;
      pointer-events: none;
      transition: top .15s, font-size .15s, transform .15s, padding-left .15s;
    }
    input {
      height: 25px;
      margin-top: 5px;
      padding-left: 25px;
      border: none;
      background: transparent;
      outline: none !important;
      box-shadow: none;
    }
    .error-field {
      position: absolute;
      top: calc(100% + 5px);
      font-size: .7rem;
      line-height: .9;
      
    }
  }
  .input-holder {
    &.simple-field {
      input {
        &:focus, &:valid {
          & + label {
            transform: translateY(-25px) scale(.7);
          }
        }
      }
    }
  }
}

.register-form {
  position: relative;
  margin: 0 auto;
  max-width: 320px;
  width: 320px;
  min-height: 477px;
  padding: 19px 20px 50px 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 12px 0 transparentize(#000, .9);
  .input-holder {
    width: 220px;
    height: 48px;
    margin: 0 auto;
    & + .input-holder {
      margin-top: 20px;
    }
    &.error-input {
      border: 1px solid red;
    }
  }
  .button {
    outline: none !important;
    display: block;
    height: 48px;
    margin: 30px auto 0;
    background: #1daafc;
    box-shadow: 0 3px 8px -1px rgba(29, 170, 252, 0.5);
    transition: color .25s, background .25s, box-shadow .25s;
    color: #fff;
    font-size: .875rem;
  }
  .button[disabled] {
    background: #eee;
    box-shadow: 0 3px 8px -1px rgba(29, 170, 252, 0);
    color: #95989a;
    pointer-events: none;
  }
  .phone-field {
    & + .error-field {
      margin-top: 5px;
    }
  }
  .change-pass {
    .button {
      display: block;
      margin: 30px auto 0;
    }
    .form-info {
      max-width: 230px;
      margin: 10px auto 0;
    }
  }
  /* ----------  Error state ---------- */
  .error-field {
    color: red;
    font-size: .8rem;
  }
  /* ----------  Actions ---------- */
  &__actions-holder {
    position: relative;
  }
  .actions-block {
    &__sms-confirm {
      position: relative;
      margin-bottom: 20px;
      .button {
        margin: 30px auto 0;
      }
      .error-field {
        position: absolute;
        left: 0;
        bottom: -18px;
      }
    }
    &__new-password {
      .button {
        margin-top: 20px;
      }
    }
  }
}

.form-holder {
  flex: 1;
}

.lock-state {
  margin-right: 30px;
}

.register-form {
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: opacity .25s;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 17px;
      background: #95989a;
    }
    &:before {
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
    }
    &:after {
      transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    }
    &:hover {
      opacity: .9;
    }
  }
  &__title {
    text-align: center;
  }
  &__img-holder {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 175px;
    padding: 0 44px;
    margin-top: 12px;
    .phone-form & {
      justify-content: flex-end;
    }
    .login-form & {
      justify-content: flex-start;
      padding-left: 30px;
    }
    .password-form & {
      justify-content: flex-start;
      padding-left: 0;
    }
    .icon-img {
      cursor: pointer;
      transition: opacity .2s;
      img {
        width: 17px;
      }
      &:hover {
        opacity: .8;
      }
      & + .icon-img {
        margin-left: 16px;
      }
    }
    .main-img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 152px;
      transform: translate3d(-50%, -50%, 0);
      img {
        width: 200px;
      }
    }
  }
  
  .pass-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: opacity .2s;
    img {
      width: 20px;
    }
    &:hover {
      opacity: .8;
    }
    .phone-form & {
      pointer-events: none;
    }
  }
  .attempts {
    text-align: center;
    font-size: .8rem;
    color: #6d6f70;
  }
  .form-info {
    margin: 30px 0 0;
    text-align: center;
    font-size: .75rem;
    color: #95989a;
    .password-form & {
      max-width: 200px;
      margin: 10px auto 0;
    }
  }
  .success-message {
    .success-img {
      margin-bottom: 30px;
    }
    .form-info {
      font-weight: 600;
      font-size: .95rem;
      color: #6d6f70;
      text-align: center;
    }
  }
}
