.shared-popup {
  width: 509px;
  padding-bottom: 48px;
  .popup {
    &__img-holder {
      width: 280px;
      height: 195px;
      margin: 0 auto 70px;
      img {
        width: 221px;
      }
    }
  }
  &__shared-form {
    max-width: 275px;
    margin: 0 auto 51px;
    .shared-form {
      &__input {
        margin: 0 auto;
        label {
          padding-left: 12px;
        }
      }
      &__switcher-holder {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
      }
    }
  }
  .button {
    display: block;
    margin: 0 auto;
  }
  .button--green {
    width: 160px;
    &:before {
      font-size: 2rem;
    }
  }
}
