.unregistered-template-popup {
  width: 800px;
  .popup {
    &__img-holder {
      justify-content: space-between;
      width: 450px;
      height: 195px;
      padding: 0 32px;
      img {
        width: 110px;
      }
    }
  }
  &__bottom-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    min-height: 114px;
    border-top: 1px solid $borderColor;
    padding: 0 35px;
    .button {
      & + .button {
        margin-left: 15px;
      }
    }
  }
  .bottom-block {
    &__info {
      max-width: 250px;
      font-size: .875rem;
      margin-right: auto;
      text-align: left;
    }
  }
}
