.user-name {
  width: 420px;
  padding-bottom: 47px;
  .popup {
    &__img-holder {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 90px;
      margin: 0 auto 30px;
      border-radius: 50%;
      background: #1daafc;
      border-bottom: 0;
      box-shadow: $buttonShadow;
      &:before {
        content: '\f3f2';
        font-family: $iconFont;
        font-size: 46px;
        color: #fff;
      }
      img {
        width: 221px;
      }
    }
  }
  &__user-form {
    max-width: 275px;
    margin: 0 auto 51px;
    .input-holder {
      label, input {
        font-size: 1rem;
        color: #64686A;
      }
      & + .input-holder {
        margin-top: 8px;
      }
    }
  }
  &__info {
    margin: 0 auto 30px;
    text-align: center;
    max-width: 350px;
    color: #64686A;
    font-size: .875rem;
  }
  .button {
    display: block;
    margin: 0 auto;
  }
}
