<select class="lang-select"  (change)="setLang($event)">
 <option *ngFor="let lang of languages; let i = index" [value]="i">{{lang}}</option>
</select>
<main class="main">
 <registration
         [config]="config"
         [action]="'login'"
         [lang]="currentLang"
         [systemName]="'MOSST payments'"
         (registrationDone)="onRegistrationDone()"
         (onClose)="onClose()"
         (user)="getUser($event)"
 ></registration>
 <registration
         [config]="config"
         [action]="'login'"
         [lang]="currentLang"
         [systemName]="'MOSST payments'"
         (registrationDone)="onRegistrationDone()"
         (onClose)="onClose()"
         (user)="getUser($event)"
         [locales]="locales"
         [extraOptions]="{userCheckDone:true}"
 ></registration>
 <registration
         [config]="config"
         [action]="'login'"
         [lang]="currentLang"
         [systemName]="'MOSST payments'"
         (registrationDone)="onRegistrationDone()"
         (onClose)="onClose()"
         (user)="getUser($event)"
         [extraOptions]="{userCheckDone:true, otpVerified: true, userExists: false}"
 ></registration>
 <registration
         [config]="config"
         [action]="'login'"
         [lang]="currentLang"
         [systemName]="'MOSST payments'"
         (registrationDone)="onRegistrationDone()"
         (onClose)="onClose()"
         (user)="getUser($event)"
         [extraOptions]="{userCheckDone:true, userExists: true}"
 ></registration>
 <registration
         [config]="config"
         [action]="'login'"
         [lang]="currentLang"
         [systemName]="'MOSST payments'"
         (registrationDone)="onRegistrationDone()"
         (onClose)="onClose()"
         (user)="getUser($event)"
         [extraOptions]="{registrationSuccess: true, userCheckDone: true}"
 ></registration>
 <mosst-profile
        [user]="user"
        [lang]="currentLang"
        [config]="config"
 ></mosst-profile>
</main>
