.map-widget {
  &__filters-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-right: 11px;
  }
}
.mat-slide-toggle-content {
  font-size: .8rem;
}
.payment-search {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-right: 11px;
  .search-field {
    width: 100%;
  }
}
app-map-widget {
  display: block;
  height: 100%;
}
