app-mosst-code-widget {
  display: block;
  height: 100%;
}

.widget-container {
  .mosst-code-widget {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: $containerShadow;
    //height: 650px;
    .ps-container {
      width: 100%;
      //height: 100%;
    }
    .payments-content {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100%;
      .current-payments__result-block {
        margin-top: auto;
      }
    }
  }
}

