app-mosst-code-video-widget,
right-side-widget-dynamic-component {
  display: block;
  height: 100%;
}

app-right-side-widget {
  display: block;
  height: calc(100% - 64px);
}
.widget-container {
  position: absolute !important;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  padding-top: 16px;
  sticky {
    transition: all 2s;
    .cards-scroll {
      max-height: 582px;
    }
    .ps-container > .ps-scrollbar-y-rail {
      opacity: 1;
    }
    .container {
      height: 221px;
    }
  }
  .one-step-page & {
    height: 100%;
  }
}

.sticky-class {
  left: auto !important;
}

/* ----------  Empty payment list ---------- */

.payments-list-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .mosst-code-widget & {
    height: 457px;
  }
  .edit-basket & {
    height: 430px;
    padding-top: 62px;
  }
  .template-payments & {
    height: 100%;
    padding-top: 0;
  }
  .deleted-payments & {
    height: 100%;
    padding-top: 0;
  }
  .section {
    &__title,
    &__subtitle {
      text-align: center;
      font-size: .8rem;
      cursor: default;
    }
    &__title {
      padding: 0;
      .mosst-code-widget & {
        margin-bottom: 115px;
      }
      .edit-basket & {
        margin-bottom: 31px;
      }
    }
    &__subtitle {
      max-width: 220px;
      font-size: .8rem;
      color: #bfc4c8;
    }
  }
  img {
    display: block;
    width: 114px;
    margin-bottom: 22px;
  }
}

/* ----------  Edit payment ---------- */

.right-widget {
  width: 320px;
  height: 100%;
  &--map-widget {
    padding: 15px 0 0 11px;
    background: #fff;
    border-radius: 5px;
    box-shadow: $containerShadow;
    .right-widget__title {
      font-size: .8rem;
    }
  }
  &__title,
  &__subtitle {
    margin: 0 auto 30px;
    font-size: 1rem;
    text-align: center;
  }
  &__content {
    text-align: center;
    font-size: .8rem;
  }
  &__empty-block {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
    border: 1px solid $borderColor;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1px;
      height: 279px;
      background: transparentize($borderColor, .2);
    }
    &:before {
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
    }
    &:after {
      transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    }
  }
  /* ----------  Edit basket ---------- */
  app-basket-edit-widget {
    display: block;
    height: 100%;
  }
  rsw-payment-widget {
    display: block;
    & + rsw-payment-widget {
      margin-top: 5px;
    }
  }
  /* ---------- Current payments ---------- */
  .current-payments {
    &.open-card {
      .payments-content {
        height: 430px;
      }
    }
    &__result-block {
      margin: 0 auto;
      .edit-basket & {
        border-top: 1px solid transparentize($borderColor, .2);
      }
      .button {
        display: block;
        margin: 0 auto 14px;
      }
    }
    &__summary {
      margin-bottom: 25px;
      padding: 24px 15px 0;
      .summary {
        &__row {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          span {
            font-size: .75rem;
          }
        }
        &__value {
          text-align: right;
        }
      }
      .commission {
        margin-top: 3px;
      }
      .summary-result {
        span {
          color: $titleColor;
          font-size: 1.2rem;
        }
      }
    }
  }
  .bottom-link-block {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: .75rem;
  }
  .edit-basket {
    position: relative;
    &__section {
      background: #fff;
      border-radius: 5px;
      box-shadow: $containerShadow;
      position: relative;
      &.open-card {
        .section__title-holder {
          &:after {
            transform: rotateX(180deg);
            @include anim($param: transform, $dur: .15s);
          }
        }
      }
    }
    .section {
      &__title-holder {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 15px 0 12px;
        text-align: center;
        font-size: .8rem;
        cursor: pointer;
        &:after {
          content: '';
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #95989a;
          right: 12px;
          transform: rotateX(0);
          @include anim($param: transform, $dur: .15s);
        }
        &:hover {
          .title {
            color: darken($textColor, 20%);
          }
        }
        .title {
          margin-right: 10px;
          @include anim($param: color, $dur: .15s);
        }
      }
      &__content {
        margin-top: 10px;
      }
    }
    .lock-section {
      .section {
        &__title-holder {
          pointer-events: none;
          &:before {
            content: "\f341";
            font-family: $iconFont;
            font-size: 1.5rem;
            margin-right: 10px;
          }
        }
      }
    }
    .payments-content {
      height: 0;
      overflow: hidden;
      @include anim($param: height, $dur: .2s);
    }
    /* ----------  Basket counter ---------- */
    &__counter,
    .counter-increment {
      position: absolute;
      top: 12px;
      right: 16px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: #1daafc;
      color: #fff;
      text-align: center;
      line-height: 24px;
      font-size: 12px;
      font-weight: 600;
      will-change: transform, opacity;
      cursor: default;
    }
    .counter-increment {
      opacity: 0;
      z-index: 2;
    }
    .counter-holder {
      &.active {
        .counter-increment {
          opacity: 1;
          animation-duration: .8s;
          animation-name: counterIncrement;
          animation-fill-mode: forwards;
          animation-timing-function: ease-out;
        }
      }
    }
    @keyframes counterIncrement {
      0% {
        opacity: 0;
        transform: scale(.5);
      }
      25% {
        opacity: 1;
      }
      50% {
        opacity: 1;
        transform: scale(1.5);
      }
      75% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: scale(.5);
      }
    }
  }
  /* ----------  Payment list ---------- */
  .payments-list {
    &__payment-item {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      padding: 10px 22px 6px 15px;
      cursor: pointer;
      @include anim($param: background, $dur: .15s);
      &:hover {
        background: #eee;
        .action-buttons {
          opacity: 1;
          pointer-events: auto;
        }
        .payment-item__payments-props {
          .title-row {
            &:before {
              background: linear-gradient(to right, transparentize(#eee, .9) 0%, transparentize(#eee, .1) 100%);
            }
            span {
              color: $textColor;
            }
          }
        }
      }
      &.current-code {
        .payment-item {
          &__logo {
            width: 46px;
            min-width: 46px;
            height: 46px;
            background: #30c4f3;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            &:before {
              content: '\f150';
              font-family: $iconFont;
              display: block;
              font-size: 1.5rem;
              color: #fff;
            }
          }
        }
      }
    }
    .payment-item {
      &--empty {
        background: transparentize(#eee, .5);
        pointer-events: none;
      }
      &__logo {
        width: 46px;
        min-width: 46px;
        height: 46px;
        background: $bgButtonDisabled;
        border-radius: 50%;
        overflow: hidden;
        img {
          display: block;
          margin: 0 auto;
        }
      }
      &__payments-props {
        padding-left: 15px;
        width: calc(100% - 46px);
        .property-row {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          span {
            max-width: 70%;
            font-size: .75rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            @include anim($param: color, $dur: .15s);
            &:first-child {
              overflow: hidden;
              white-space: nowrap;
            }
          }
          span + span {
            text-align: right;
          }
        }
        .title-row {
          position: relative;
          margin-bottom: 4px;
          &:before {
            content: '';
            position: absolute;
            @include centerize(false, true);
            right: 0;
            width: 30px;
            height: 20px;
            background: linear-gradient(to right, transparentize(#fff, .9) 0%, transparentize(#fff, .1) 100%);
            @include anim($param: background, $dur: .15s);
          }
          span {
            font-size: 1rem;
            color: $titleColor;
          }
        }
      }
    }
  }
  &.mosst-code-widget {
    .payments-list__payment-item {
      .payment-item__payments-props {
        .title-row {
          &:before {
            display: none;
          }
        }
      }
    }
  }
  .action-buttons {
    display: flex;
    align-items: center;
    position: absolute;
    @include centerize(false, true);
    @include anim($param: opacity, $dur: .15s);
    right: 100px;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    span {
      display: inline-block;
      &:before {
        font-size: 1.5rem;
        @include anim($param: .15s, $dur: .15s);
      }
      &:hover {
        &:before {
          color: darken($iconColor, 20%);
        }
      }
    }
    .edit-payment {
      margin-top: 7px;
      margin-right: 5px;
    }
  }
  /* ----------  Deleted payments ---------- */
  .deleted-payments {
    &.open-card {
      .payments-content {
        height: 221px;
        border-radius: 0 0 5px 5px;
      }
    }
  }
  /* ----------  Template payments ---------- */
  .template-payments {
    &.open-card {
      .payments-content {
        height: 221px;
        border-radius: 0 0 5px 5px;
      }
    }
  }
}
