.right-widget {
  &__icon-list {
    max-height: 411px;
    list-style-type: none;
    margin: 0;
  }
  .icon-list {
    &__list-item {
      margin-bottom: 20px;
      padding-right: 11px;
      cursor: pointer;
    }
  }
  .list-item {
    &__title-block {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
    &__more-info {
      padding-left: calc(46px + 10px); // icon-disc + content padding
      transition:  transform .3s ease-in-out, height .2s ease-in-out, opacity .1s ease-in-out;
      overflow: hidden;
      pointer-events: none;
    }
  }
  .title-block {
    &__icon-disc {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 46px;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background: $bgMarker;
      &:before {
        display: inline-block;
        color: transparentize(#000, .4);
        font-size: 1.2rem;
      }
    }
    &__content {
      padding-left: 10px;
      font-size: 1rem;
      line-height: 1.3;
      color: #64686a;
      @include anim($param: opacity, $dur: .15s);
      &:hover {
        opacity: .8;
      }
    }
  }
  /* ----------  More info blocks ---------- */
  .more-info {
    &__title {
      margin-bottom: 5px;
      font-size: .75rem;
      color: $textColor;
    }
    &__row {
      display: flex;
      flex-flow: row nowrap;
      margin: 0;
      dd, dt {
        margin: 0;
        font-size: .65rem;
        line-height: 1.4;
        color: transparentize($textColor, .2);
      }
      dd {
        width: 50px;
      }
    }
  }
}

