.sprite-hide {
  display: none !important;
}
.categories-section {
  display: flex;
  flex-flow: column nowrap;
  &__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: .8rem;
  }
}
.categories {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin: 0 0 10px;
  padding: 0 49px;
  list-style-type: none;
  .category {
    width: 20%;
    height: 175px;
    margin-bottom: 15px;
    box-sizing: content-box;
    a {
      cursor: default;
    }
    &__img-holder {
      position: relative;
      width: 100%;
      height: 104px;
      margin: 0 auto 22px;
      @include anim($param: opacity, $dur: .2);
      &:before {
        content: '';
        position: absolute;
        @include centerize(true, false);
        bottom: 2px;
        width: 96px;
        height: 98px;
        background: transparentize(#1daafc, .4);
        border-bottom-left-radius: 42px 26px;
        border-bottom-right-radius: 42px 26px;
        border-top-left-radius: 42px 42px;
        border-top-right-radius: 42px 42px;
        transition: box-shadow .2s ease-in-out;
        will-change: box-shadow;
        box-shadow: 0 5px 8px 1px transparentize(#1daafc, .2);
        z-index: 1;
      }
      &:hover {
        opacity: .95;
        &:before {
          box-shadow: 0 9px 40px 2px transparentize(#1daafc, .4);
        }
      }
      svg {
        height: 104px;
        position: relative;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        z-index: 2;
      }
    }
    &__title {
      display: block;
      text-align: center;
      font-size: .85rem;
      color: $textColor;
      cursor: pointer;
    }
  }
}
app-category {
  display: block;
}
.more-categories {
  text-align: center;
  font-size: .8rem;
  cursor: pointer;
}
.service-icon {
  width: 110px;
  height: 110px;
}
.icon-service {
  width: 110px;
  height: 110px;
  transition: opacity .3s;
  &:hover {
    opacity: 0;
  }
}

