app-comment-block {
  display: block;
}
.comment-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 114px;
  background: #fff;
  a, p {
    font-size: .875rem;
  }
}
