/* ----------  Scroll area---------- */
.pc-container {
  & > .ps-scrollbar-y-rail {
    opacity: 1 !important;
  }
}

/* ----------  Scroll bullet ---------- */
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  right: 8px !important;
  background-color: #dadee1 !important;
}

.ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  width: 6px !important;
  background-color: #999 !important;
}

/* ----------  Events ---------- */
.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: transparent !important;
}

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background: transparent !important;
  .ps-scrollbar-y {
    width: 6px !important;
  }
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background: transparent !important;
  .ps-scrollbar-y {
    width: 6px !important;
  }
}

