app-description-bottom {
  display: flex;
  flex-flow: row nowrap;
}
.description-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-width: $contentWidth;
  height: 96px;
  margin-top: 16px;
  padding: 20px 28px;
  background: #fff;
  border-radius: 4px;
  box-shadow: $containerShadow;
  .column {
    flex: 1;
    font-size: .75rem;
    &:first-child {
      max-width: 45%;
    }
    & + .column {
      max-width: 55%;
      padding-right: 0;
      padding-left: 10px;
    }
  }
}
