.fast-operations-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 29px;
  padding-bottom: 83px;
  border-bottom: 1px solid transparentize($borderInput, .2);
  .operation-tabs {
    &__field-holder {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-right: 80px;
      margin-left: 18px;
      .button {
        vertical-align: top;
        margin-left: 16px;
        height: 64px;
      }
      p {
        flex: 1;
        width: 100%;
        font-size: .8rem;
        color: $textColor;
        margin-top: 30px;
        margin-left: 46px;
      }
    }
  }
  .inputs-group {
    .button {
      margin-left: 16px;
      background: $activeElemColor;
      box-shadow: 0 3px 8px -1px transparentize(#1daafc, .5);
      transition: color .25s, background .25s, box-shadow .25s;
      color: #fff;
      &[disabled] {
        color: $buttonColor;
        box-shadow: 0 3px 8px -1px transparentize(#1daafc, 1);
        background: #eee;
      }
    }
  }
  .form-row {
    .input-holder {
      width: 275px;
    }
    &:last-of-type {
      .input-holder {
        width: 160px;
      }
    }
  }
  /* ----------  Active state operation field ---------- */
  .logo-icon {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    @include centerize(false, true);
    @include anim($param: opacity, $dur: .15s);
    img {
      width: 30px;
    }
    & + .mdi {
      display: none;
    }
  }
  .active-logo {
    .logo-icon {
      opacity: 1;
    }
  }
}

.fast-operations-title {
  width: 100%;
  text-align: center;
  font-size: .8rem;
  margin-bottom: 39px;
  font-weight: 200;
}

.fast-operation-tabs {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-top: 5px;
}

.fast-operations {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  margin: 0;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    font-size: 1.9rem;
    transition: color 2s, background 2s;
    &:before {
      color: $activeElemColor;
      font-family: $iconFont;
      display: inline-block;
    }
    &.selected {
      background: $activeElemColor;
      box-shadow: 0 3px 6px 0 transparentize(#1daafc, .4);
      transition: color 2s, background 2s;
      &:before {
        color: #fff;
      }
    }
    &.disable {
      &:before {
        color: $iconColor;
      }
    }
    &.card__icon {
      &:before {
        content: '\f19b';
      }
    }
    &.mossttag__icon {
      &:before {
        content: '\f009';
        color: $bgButton;
        font-size: 2rem;
      }
      &.selected {
        &:before {
          color: #fff;
        }
      }
    }
    &.phone__icon {
      &:before {
        content: '\f3f2';
      }
    }
    & + .fast-operations__item {
      margin-left: 8px;
    }
  }
}
