.page-header {
  &__left-side, &__right-side {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
  }
  .nav-list__item, .header__right-side {
    a {
      white-space: nowrap;
      @include anim($param: opacity, $dur: .15s);
      font-size: .875rem;
    }
  }
  /* ----------  Header left side ---------- */
  .header-logo {
    img {
      width: 150px;
      min-width: 150px;
    }
  }
  .left-side {
    &__nav-list {
      display: flex;
      flex-flow: row nowrap;
      margin-left: 5.5vw;
    }
  }

  .nav-list {
    &__item {
      a {
        position: relative;
        bottom: 0;
        color: #fff;
        font-size: .875rem;
        font-weight: 500;
        &:after {
          content: '';
          position: absolute;
          @include centerize(true, false);
          bottom: -4px;
          width: 0;
          height: 2px;
          background: #1daafc;
          @include anim($param: width, $dur: .15s);
        }
        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
      &.active {
        a {
          &:after {
            width: 100%;
          }
        }
        &:hover {
          a {
            opacity: 1;
          }
        }
      }
      & + .nav-list__item {
        margin-left: 26px;
      }
    }
  }
  /* ----------  Header right side ---------- */
  .right-side {
    &__item {
      & + .right-side__item {
        margin-left: 26px;
      }
      &.about, &.enter {
        color: #fff;
      }
    }
    &__button-holder {
      margin-left: 26px;
      .button {
        background: transparent;
        border: 1px solid #1daafc;
        box-shadow: none;
        padding: 10px 29px;
        @include anim($param: background, $dur: .15s);
        &:hover {
          background:  #1daafc;
          opacity: 1;
        }
      }
    }
  }
  /* ----------  Language select ---------- */
  .language-select {
    .mat-select-placeholder, .mat-select-value {
      font-size: .875rem;
      color: #fff;
    }
    .mat-select-arrow {
      width: 0;
      height: 0;
      margin-left: 10px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #1daafc;
      &:before {
        display: none;
      }
    }
  }
}
