.mat-slide-toggle {
  .mat-slide-toggle-label {
    max-width: 175px;
    align-items: center;
  }
  .mat-slide-toggle-content {
    .map-widget__filters-group & {
      font-size: .7rem;
    }
  }
  .mat-slide-toggle-content {
    white-space: normal;
    line-height: 1.2;
  }
  .mat-slide-toggle-thumb {
    width: 21px;
    height: 21px;
    border: 1px solid $borderColor;
    box-shadow: none;
    background: #fff;
    transition-property: all;
    transition-delay: 0s;
  }
  .mat-slide-toggle-thumb-container {
    top: 0;
    width: 22px;
  }
  .mat-slide-toggle-thumb-container {
    
  }
  .mat-slide-toggle-container {
    width: 42px;
    min-width: 42px;
  }
  .mat-slide-toggle-bar {
    top: 0;
    width: 42px;
    height: 21px;
    border: 1px solid $borderColor;
    background: #fff;
  }
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background: $bgSwitcher;
  border-color: $bgSwitcher;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background: #fff;
}
.mat-slide-toggle-focused {
  .mat-ink-ripple {
    background: transparentize($bgSwitcher, .8) !important;
  }
}
.mat-ink-ripple {
  background: transparentize($bgSwitcher, .8) !important;
}

