.mat-select-placeholder.mat-floating-placeholder {
  display: none;
}
.mat-select-placeholder {
  max-width: 100%;
}
.mat-select-underline {
  display: none;
}
.mat-select {
  .mat-select-arrow {
    position: relative;
    width: 20px;
    height: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
    &:before {
      content: '\f140';
      font-family: $iconFont;
      position: absolute;
      top: 0;
      font-size: 1.2rem;
      display: block;
    }
  }
  .mat-select-trigger {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    min-width: 100%;
  }
  .mat-select-value {
    position: relative;
    max-width: 95px;
  }
  .mat-slide-toggle-thumb {
    width: 21px;
    height: 21px;

  }
}
.mat-option.mat-selected  {
  color: $errorColor;
}
.mat-select-trigger {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.mat-select:focus:not(.mat-select-disabled) {
  .mat-select-trigger, .mat-select-arrow  {
    color: $textColor;
  }
}
.mat-option.mat-selected  {
  color: $linkColor;
}



