.rating-cards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-left: 16px;
  margin-top: 16px;
  .rating-card {
    width: 156px;
    height: 96px;
    padding: 18px 10px 5px;
    background: #fff;
    box-shadow: $containerShadow;
    border-radius: 4px;
    & + .rating-card {
      margin-left: 16px;
    }
    span {
      display: block;
      text-align: center;
      color: $titleColor;
    }
    &__title {
      font-size: .75rem;
      margin-bottom: 11px;
    }
    &__value {
      font-size: 1.5rem;
    }
  }
}
