/* ----------  Requisites ---------- */
app-requisites-list {
  display: block;
}
.requisites-list {
  margin-bottom: 34px;
  padding-top: 33px;
  &__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid transparentize($borderColor, .4);
    & + .requisites-list__item {
      margin-top: 12px;
    }
    .requisite-value, .requisite-title {
      max-width: 50%;
      font-size: .875rem;
      line-height: 1;
    }
    .requisite-value {
      text-align: right;
      color: $titleColor;
    }
  }
  /* ----------  Items states ---------- */
  .debt-field {
    span {
      color: #ef6565;
    }
    &--overpayment {
      span {
        color: #53EF59;
      }
    }
  }
}

.main-content {
  &__basic-requisites {
    margin-bottom: 37px;
    border-bottom: 25px solid $bgBody;
    padding-bottom: 40px;
    overflow: hidden;
    transition: all .5s;
    .requisites-list {
      padding-top: 40px;
      max-width: 640px;
      margin: 0 auto;
    }
  }
}

/* ---------- Service requisites ---------- */
.service-requisites {
  &__head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 13px;
    span {
      font-size: .75rem;
    }
  }
  &__requisites-holder {
    display: block;
    max-width: 640px;
    margin: 0 auto;
    & + .service-requisites__requisites-holder {
      margin-top: 16px;
    }
  }
  &__service-title {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    cursor: pointer;
    &:before {
      content: '\F140';
      font-family: $iconFont;
      position: absolute;
      top: 18px;
      right: 0;
      font-size: 1.5rem;
      @include anim($param: opacity, $dur: .2s);
    }
    &:hover {
      span {
        opacity: .7;
      }
      &:before {
        opacity: .7;
      }
    }
    .service-sum {
      text-align: right;
    }
    .service-title, .service-sum {
      display: block;
      text-transform: uppercase;
      color: $titleColor;
      @include anim($param: opacity, $dur: .2s);
      line-height: 1.5;
    }
    .service-title {
      &__left-side {
        max-width: 70%;
      }
      &__right-side {
        padding-right: 30px;
      }
    }
  }
  &__action-block {
    display: flex;
    flex-flow: row nowrap;
    .input-holder {
      width: 216px;
      height: 46px;
      background: #fff;
      border-radius: 0;
      input {
        height: 46px;
        padding-left: 12px;
        &:focus, &:valid {
          & + label {
            transform: translate3d(-12px, -23px, 0) scale(.7);
          }
        }
      }
      label {
        padding-left: 12px;
      }
      & + .input-holder {
        margin-left: 8px;
      }
      &.sum-field {
        width: 135px;
        margin-left: 19px;
      }
    }
  }
}

/* ----------  Requisites accordion ---------- */

.requisites-list--open {
  .service-requisites__service-title {
    &:before {
      content: '\F143';
    }
  }
}
