.payment-card {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  //max-height: calc(100vh - #{$largeMainPadding}); // 100vh - $largeMainPadding
  //overflow-y: scroll;
  height: 100%;
  margin-bottom: 20px;
  padding-top: 40px;
  background: #fff;
  border-radius: 5px;
  box-shadow: $containerShadow;
  /* ---------- Operator info ---------- */
  &__operator-info-block {
    width: 220px;
    padding-left: 40px;
  }
  .operator-info-block {
    &__img-holder {
      width: 150px;
      margin-bottom: 23px;
    }
    &__operator-title {
      margin-bottom: 13px;
    }
    &__number-list {
      margin-bottom: 26px;
      .number-item {
        font-size: .875rem;
        color: transparentize($textColor, .3);
        & + .number-item {
          margin-top: 3px;
        }
      }
    }
    &__operator-email {
      font-size: .875rem;
    }
  }
  /* ---------- Layout ---------- */
  &__content-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    flex: 1;
    margin-bottom: 15px;
  }
  &__main-content {
    flex-grow: 1;
    padding-right: 87px;
    padding-left: 10px;
    .form-description {
      max-width: 370px;
      font-size: .875rem;
    }
  }
  .main-content {
    &__top-block {
      margin-bottom: 32px;
    }
  }
  &__bottom-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 90px;
    margin-top: auto;
    padding: 0 40px;
    border-top: 1px solid $borderColor;
  }
  /* ----------  Top block ---------- */
  .top-block {
    &__title {
      margin-bottom: 13px;
      font-size: 1.25rem;
      font-weight: 300;
      color: $titleColor;
    }
    &__step-bar {
      display: flex;
      flex-flow: row nowrap;
      .step-item {
        flex: 1;
      }
    }
  }
  /* ----------  Step bar ---------- */
  .step-item {
    & + .step-item {
      margin-left: 7px;
    }
    &__bar {
      height: 3px;
      margin-bottom: 6px;
      background: $borderColor;
    }
    &__subtitle {
      font-size: .75rem;
    }
  }
  .payment-step {
    &--in-progress {
      .step-item__bar {
        background: #30c4f3;
      }
    }
    &--ready {
      .step-item__bar {
        background: #25df6f;
      }
    }
  }
  /* ---------- Main content ---------- */
  .payment-create {
    &__form-block {
      .inputs-group {
        margin-bottom: 40px;
      }
      .form-row {
        width: 220px;
        & + .form-row {
          width: 145px;
        }
        df-field {
          width: 100%;
        }
      }
      .input-holder {
        & + .input-holder {
          margin-left: 10px;
        }
      }
    }
  }
  /* ----------  Bottom block ---------- */
  app-payment-bottom-block {
    margin-top: auto;
  }
  .bottom-block {
    &__info-holder {
      max-width: 250px;
      font-size: .75rem;
      line-height: 1.2;
    }
    &__button-holder {
      display: flex;
      flex-flow: row nowrap;
      .button {
        & + .button {
          margin-left: 16px;
        }
      }
      .back-button {
        background: #fff;
        color: $buttonColor;
        box-shadow: 0 3px 7px -1px transparentize(#95989a, .3);
        &[disabled] {
          background: $bgButtonDisabled;
          box-shadow: 0 3px 7px -1px transparentize(#95989a, 1);
        }
      }
      .templates-button {
        position: relative;
        padding: 0;
        background: transparent;
        color: $textColor;
        box-shadow: none;
        &[disabled] {
          background: transparent;
          opacity: .7;
        }
        &:before {
          content: '\f191';
          font-family: $iconFont;
          position: absolute;
          @include centerize(false, true);
          left: -30px;
          font-size: 1.5rem;
        }
      }
    }
  }
}
