.social-links {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 24px;
  &__link {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background: #fff;
    box-shadow: $containerShadow;
    @include anim($param: background, $dur: .15s);
    &:hover {
      a:before {
        color: #fff;
      }
    }
    &.facebook-link {
      &:hover {
        background: $facebookColor;
      }
    }
    &.google-plus-link {
      &:hover {
        background: $googlePlus;
      }
    }
    &.linkedin-link {
      &:hover {
        background: $linkedinColor;
      }
    }
    a {
      position: relative;
      display: block;
      height: 100%;
      font-size: 0;
      &:before {
        position: absolute;
        @include centerize(true, true);
        font-size: 1.5rem;
        color: $textColor;
        @include anim($param: color, $dur: .15s);
      }
    }
    & + .social-links__link {
      margin-left: 30px;
    }
  }
}
