app-store-links {
  display: block;
}
.store-links {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 16px;
  &__link {
    position: relative;
    width: 156px;
    height: 48px;
    border-radius: 4px;
    background: transparentize(#fff, .9);
    transition: background .3s, opacity .2s;
    .sticky-class & {
      opacity: 0;
    }
    .sticky-end & {
      opacity: 0;
    }
    & + .store-links__link {
      margin-left: 8px;
    }
    &:hover {
      background: transparentize(#fff, .7);
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    .link-title {
      position: absolute;
      top: 1px;
      @include centerize(true, false);
      color: #fff;
      font-size: 8px;
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 120px;
    }
    &.app-store {
      img {
        width: 101px;
      }
    }
  }
}
