.technologies-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 65px;
  .technology-logo {
    &.lock-link {
      pointer-events: none;
    }
    a {
      display: block;
    }
    img {
      height: 45px;
    }
    & + .technology-logo {
      margin-left: 30px;
    }
  }
}
