app-ui-top-navigation, sticky {
  display: block;
  transition: top 1s;
}

app-ui-top-navigation {
  sticky {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0 !important;
    padding-top: 16px;
  }
}

app-ui-top-navigation {
  position: absolute !important;
  //top: -80px;
  top: 0;
  left: 0;
  width: 100%;
  max-width: $siteWidth;
}

.topnav {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  list-style-type: none;
  margin: 0;
  &:before {
    content: '';
    position: absolute;
    @include centerize(false, true);
    left: calc((#{$siteWidth} - 100vw) / 2);
    width: 100vw;
    height: 80px;
    background: transparent;
    @include anim($param: background, $dur: .3s, $delay: 0s);
    .sticky-class & {
      background: linear-gradient(to right,
        rgba(38, 34, 98, 1) 0%,
        #1c4a87 15%,
        rgba(12, 130, 193, 1) 50%,
        #1c4a87 85%,
        rgba(38, 34, 98, 1) 100%);
      @include anim($param: background, $dur: .3s, $delay: .1s);
    }
  }
  li {
    height: 100%;
    a {
      display: inline-block;
      position: relative;
      border-radius: 4px;
      margin: 0;
      padding: 15px 19px 15px 47px;
      background: transparentize(#fff, .9);
      color: #fff;
      @include anim($param: background, $dur: .3s);
      &:before {
        position: absolute;
        left: 17px;
        font-size: 1.5rem;
        @include centerize(false, true);
      }
      &:hover {
        background: transparentize(#fff, .7);
      }
      &.active {
        background: #1daafc;
        box-shadow: 0 0 12px 0 transparentize(#1daafc, .5);
        &:hover {
          background: transparentize(#1daafc, .2);
        }
        .sticky-class & {
          background: #1daafc;
          &:hover {
            background: transparentize(#1daafc, .2);
          }
        }
      }
    }
    & + li {
      margin-left: 6px;
    }
  }
}
