dashboard-root {
  height: 100%;
}
.dashboard-holder {
  position: relative;
  height: 100%;
  padding-top: 56px;
  padding-bottom: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 32px 0 transparentize(#3b3e40, .8);
}
