.sebm-google-map-container {
  height: 600px;
}
.sebm-google-map-container-inner {
  padding: 20px;
  border: 10px solid #fff;
  border-radius: 5px;
}
.map-wrapper {
  //padding: 20px;
  background: #f6f6f6;
  .range-slider {
    width: 275px;
    margin: 0 auto;
    .mat-slider-thumb {
      border-color: #95989a;
      width: 13px;
      height: 13px;
      bottom: -7px;
      transform: scale(1) !important;
    }
    .mat-slider-horizontal .mat-slider-track-background,
    .mat-slider-horizontal .mat-slider-track-fill,
    .mat-slider-ticks,
    .mat-slider-track-wrapper,
    .mat-slider-wrapper{
      height: 4px;
    }
    .mat-slider-track-fill, .mat-slider-thumb, .mat-slider-track-background {
      background: #95989a;
    }
    .mat-slider-min-value:not(.mat-slider-thumb-label-showing):hover .mat-slider-thumb {
      border-color: #95989a;
    }
  }
}
