@import 'header';
@import 'footer';
@import 'layout';

html, body {
  -webkit-overflow-scrolling: touch;
  display: block;
}

body {
  margin: 0;
  color: $textColor;
  font: 400 #{$fz}/#{$lh} $family;
  background: $bgBody;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  min-width: $minWidth;
  height:auto;
  overflow-x: hidden;
  &.is-fixed {
    overflow: hidden;
  }
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: $linkColor;
  @include anim;
  @include anim-param(color, background, border-color);
}
p {
  margin: 0;
}

input, textarea, select, button {
  font: #{$fz}/#{$lh} $family;
  vertical-align: middle;
}
button {
  border: none;
}
textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

h1, h2, h3, h4 {
  color: $titleColor;
}
h1 {
  line-height: 1;
  font-weight: 200;
}

::-webkit-input-placeholder {
  color: $clr-placeholder;
}

::-moz-placeholder {
  color: $clr-placeholder;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $clr-placeholder;
}
