app-footer {
  margin-top: auto;
}
.footer {
  &__copyright {
    padding: 30px 0;
    background: $bgFooter;
    text-align: center;
  }
  .copyright {
    &__title {
      margin-bottom: 4px;
      font-size: .875rem;
      color: #fff;
    }
    &__content {
      font-size: .75rem;
      color: transparentize(#fff, .4);
    }
  }
}
