.page-header {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: $headerHeight;
  margin-bottom: 20px;
  padding: 30px 64px 0;
  &:before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 53vh;
    background: $bgHeader;
  }
}
