app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.popups-holder {
    max-height: 0;
    overflow: hidden;
}
.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
  max-width: $siteWidth;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  &.map-page {
    .content {
      height: auto;
    }
  }
}

.content {
  width: 100%;
  max-width: $contentWidth;
  max-height: 100%;
  height: 100%;
  min-height: 800px;
  margin-bottom: 16px;
  padding-top: 80px;
  &__title {
    text-align: center;
    margin-bottom: 73px;
    font-weight: 200;
    position: sticky;
    top: 0;
  }
  &__subtitle {
    margin-bottom: 20px;
    text-align: center;
    font-size: .9rem;
    color: #95989a;
  }
}

#cart {
  height: 100%;
}

/* ----------  Fix page jump ---------- */
.fix-jumping-scrollbar {
  padding-right: 0 !important;
}
