.input-holder {
  display: flex;
  align-items: center;
  position: relative;
  height: 46px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  label {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%) scale(1);
    transform-origin: bottom left;
    font-size: .8rem;
    color: #9A9D9F;
    pointer-events: none;
    transition: top .15s, font-size .15s, transform .15s, padding-left .15s;
  }
  input {
    height: 25px;
    margin-top: 5px;
    padding-left: 25px;
    border: none;
    background: transparent;
  }
  .error-field {
    position: absolute;
    top: calc(100% + 5px);
    color: red;
    font-size: .8rem;
    line-height: .9;
    
  }
}
.input-holder{
  &.simple-field {
    input {
      &:focus, &:valid {
        & + label {
          transform: translateY(-25px) scale(.7);
        }
      }
    }
  }
}

.register-form {
  margin: 0 auto;
  max-width: 490px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 12px 0 transparentize(#000, .9);
  .input-holder {
    width: 225px;
    & + .input-holder {
      margin-top: 20px;
    }
  }
  .button {
    height: 46px;
    background: #eee;
  }
  .phone-field {
    & + .error-field {
      margin-top: 5px;
    }
  }
  /* ----------  Error state ---------- */
  .error-field {
    color: red;
    font-size: .8rem;
  }
  /* ----------  Actions ---------- */
  &__actions-holder {
    position: relative;
    margin-top: 20px;
  }
  .actions-block {
    &__sms-confirm {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 20px;
      .button {
        margin-left: 20px;
      }
      .error-field {
        position: absolute;
        left: 0;
        bottom: -18px;
      }
    }
    &__new-password {
      .button {
        margin-top: 20px;
      }
    }
  }
}
// +380234324423424

