//
// THEME COLORS
// basic colors from mockups
//

$clr-color: #000;
$clr-color2: #545f68;

//
// NEUTRAL COLORS
// basic black and white colors and shades
//

$clr-grey: #999;
$clr-white: #fff;
$clr-black: #000;
$clr-placeholder: #92a5b3;

//
// Additional abstractions
//
$clr-text: $clr-color;
$clr-body: $clr-black;