%layout:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

%list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

%dib-reset {
  letter-spacing: -0.3em;
  font-size: 0;
  line-height: 0;
}

%overflow-txt {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
