// @font-face {
//     font-family:'Font Name';
//     font-weight: 400;
//     font-style: normal;
//     src: local('Font Name Regular'),
//          local('FontName-Regular'),
//          url('../fonts/FontName/FontName-Regular.woff') format('woff');
// }

// Fonts
$family: 'Roboto', sans-serif;

$fz: 16px;
$lh: 18px;
