// Widths
$minWidth: 320px;
$siteWidth: 1279px;
$cmsWidth: 900px;

$contentWidth: 951px;

/* ----------  Height ---------- */
$largeMainPadding: 90px;
$headerHeight: 70px;
$contentBottomPadding: 20px;
$contentHeight: calc((#{$largeMainPadding} + #{$headerHeight}) + #{$contentBottomPadding});

/* ---------- Colors ---------- */
$textColor: #95989a;
$labelColor: #9a9d9f;
$inputColor: #676767;
$buttonColor: #a5a8a9;
$buttonHover: #39b6ff;
$greenButtonHover: #27D12F;
$buttonActive: #108fd9;
$iconColor: #989898;
$activeElemColor: #1daafc;
$linkColor: #00c3f0;
$titleColor: #64686a;

$borderInput: #d5d5d5;
$focusInputBorder: #30c4f3;
$borderColor: #d5d5d5;
$errorColor: #fc3e6b;

$facebookColor: #3b5998;
$googlePlus: #dc4a38;
$linkedinColor: #007bb6;

$bgFooter: #203a78;
$bgHeader: radial-gradient(ellipse at center, #05a6db 0%, #262262 100%);

$bgBody: #f5f7f8;
$bgMarker: #00c3f0;
$bgSwitcher: #00c3f0;
$bgSelectHover: #f1f2f3;
$bgButton: #1daafc;
$bgGreenButton: #25df6f;
$bgButtonDisabled: #eee;

$buttonShadow: 0 3px 8px -1px transparentize(#1daafc, .5);
$buttonGreenShadow: 0 3px 8px -1px transparentize(#1bd170, .5);
$buttonShadowDisabled: 0 3px 8px -1px transparentize(#1daafc, 1);
$buttonShadowActive: 0 3px 8px -1px transparentize(#1daafc, 1);
$bgLogo: #eee;
$containerShadow: 0 3px 6px 0 transparentize(#3b3e40, .8);

$z-layers: (
  'default': 1,
  'below': -1,
  'fixed': 2000,
  'modal': 2050
);

/* ----------  Icons ---------- */
$iconFont: 'Material Design Icons';

