/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* ----------  Icon Fonts ---------- */

@import './assets/scss/core/extends';
@import './assets/scss/core/core';
@import './assets/scss/core/mixins';
@import './assets/scss/helpers/helpers';
@import './assets/scss/helpers/reset';
@import './assets/scss/form/index';
@import './assets/scss/common/common';
@import './assets/scss/patterns/patterns';
@import './assets/scss/widgets/widgets';
@import './assets/scss/modules/index';
@import './assets/scss/popups/index';

@import './assets/scss/pages/index';

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #555;
  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
