.reg-input-holder {
  display: flex;
  align-items: center;
  position: relative;
  height: 48px;
  border-bottom: 1px solid #BFC4C8;
  margin-bottom: 24px;
  label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale(1);
    transform-origin: bottom left;
    padding-left: 0;
    font-size: 15px;
    color: #141516;
    pointer-events: none;
    transition: top .15s, font-size .15s, transform .15s, padding-left .15s;

  }
  input {
    height: 36px;
    margin-top: 5px;
    padding-left: 0;
    border: none;
    background: transparent;
    outline:none !important;
    box-shadow: none;
    color: #141516;
  }
  .reg-error-field {
    position: absolute;
    top: calc(100% + 5px);
    font-size: .7rem;
    line-height: .9;
    color: #fc3e6b;
  }
}
.reg-input-holder{
  &.reg-simple-field {
    input {
      width: 100%;
      &:focus, &:valid {
        & + label {
          transform: translateY(-28px) scale(.75);
        }
        & .reg-input-holder {
          border-bottom: 1px solid #1daafc;
        }
      }
    }
  }
}
.lock-state {
  margin-right: 30px;
}

.reg-register-form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  //max-width: 320px;
  //width: 320px;
  //min-height: 477px;
  //padding: 19px 20px 50px 20px;
  max-width: 288px;
  width: 288px;
  min-height: 432px;
  padding: 12px 16px 24px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 12px 0 transparentize(#000, .9);
  cursor: default;

  .reg-form-forgot {
    background: none;
    color: #1DAAFC;
    font-size: .75rem;
    border: none;
    padding: 0;
    margin-top: -3px;
  }
  .reg-input-holder {
    width: 100%;
    height: 40px;
    margin: 16px auto 0;
    & + .reg-input-holder {
      margin-top: 20px;
    }
    &.error-input {
      border-bottom: 1px solid #fc3e6b;
    }
  }
  .new-pass-btn {
    border: none;
    background: transparent;
    color: #1daafc;
    font-size: 12px;
    padding: 0;
  }
  .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 24px;
  }
  .cancel {
    padding: 12px 16px;
    color: #1daafc;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    height: 40px;
    font-size: .875rem;
    font-weight: 600;
    position: absolute;
    bottom: 0px;
    left: 0;
  }
  .cancel--static {
    padding: 12px 16px;
    font-size: .875rem;
  }
  .success-stats {
    height: 40px;
    min-width: 120px;
    padding: 4px 16px;
    border-radius: 20px;
    color: #fff;
    background-color: #06D659;
    img {
      display: block;
      width: 32px;
      height: 32px;
      margin: 0 auto;
    }
  }
  .no-display {
    display: none !important;
  }
  .reg-button {
    min-width: 120px;
    max-width: 150px;
    outline:none !important;
    border: none;
    border-radius: 30px;
    padding: 12px 16px;
    text-transform: uppercase;
    display: block;
    min-height: 40px;
    margin: 0 0 0 8px;
    background: #1daafc;
    //box-shadow: 0 3px 8px -1px rgba(29, 170, 252, 0.5);
    transition: color .25s, background .25s, box-shadow .25s,  opacity .25s;
    color: #fff;
    font-size: .875rem;
    font-weight: 600;
  }
  .reg-button[disabled] {
    background: #F5F7F8;
    box-shadow: 0 3px 8px -1px rgba(29, 170, 252, 0);
    color: #95989A;
    pointer-events: none;
    &:hover {
      opacity: 1;
    }
  }
  .reg-phone-field {
    & + .reg-error-field {
      margin-top: 5px;
    }
  }
  .reg-change-pass {
    .reg-button {
      display: block;
      margin: 0;
    }
    .reg-form-info {
      max-width: 288px;
      margin: 15px auto 20px;
    }
  }
  /* ---------  Error state ---------- */
  .reg-error-field {
    font-size: .7rem;
    color: #fc3e6b;
  }
  /* ----------  Actions ---------- */
  &__actions-holder {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    & > div {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
  .reg-actions-block {
    &__sms-confirm {
      position: relative;
      flex:1;
      .reg-button {
        margin: 0;
      }
      .reg-error-field {
        position: absolute;
        left: 0;
        bottom: -18px;
      }
    }
    &__new-password {
      .reg-button {
        margin-top: 0;
      }
    }
  }
}
.form-holder{
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}
.reg-form-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.reg-register-form {
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: opacity .25s;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 17px;
      background: #95989a;
    }
    &:before {
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
    }
    &:after {
      transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    }
    &:hover {
      opacity: .9;
    }
  }
  &__title {
    color: #6d6f70;
    font-size: 12px;
    text-align: left;
  }
  &__img-holder {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 175px;
    padding: 0 44px;
    margin-top: 18px;
    margin-bottom: 8px;
    .reg-phone-form & {
      justify-content: flex-end;
    }
    .reg-login-form & {
      justify-content: flex-start;
      padding-left: 30px;
    }
    .reg-password-form & {
      justify-content: flex-start;
      padding-left: 0;
    }
    .reg-icon-img {
      pointer-events: none;
      transition: opacity .2s;
      img {
        width: 17px;
      }
      &:hover {
        opacity: .8;
      }
      & + .reg-icon-img {
        margin-left: 16px;
      }
    }
    .reg-main-img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 160px;
      height: 160px;
      transform: translate3d(-50%, -50%, 0);
      img {
        width: 200px;
      }
    }
  }
  .reg-pass-icon {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: opacity .2s;
    img {
      width: 20px;
    }
    &:hover {
      opacity: .8;
    }
    .reg-phone-form & {
      pointer-events: none;
    }
  }
  .reg-attempts {
    text-align: center;
    font-size: .8rem;
    color: #6d6f70;
  }
  .reg-form-info {
    margin: 16px 0 0;
    text-align: left;
    font-size: .75rem;
    color: #64686A;
    .reg-password-form & {
      max-width: 200px;
      margin: 10px auto 0;
    }
  }
  .icon-on-side {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
      display: block;
      width: 24px;
      height: 24px;
      margin: 0 16px 0 0;
    }
    span {}
  }
  .reg-success-message {
    .reg-success-img {
      margin-bottom: 30px;
    }
    .reg-form-info {
      font-weight: 600;
      font-size: .95rem;
      color: #64686A;
      text-align: center;
    }
  }
  .profile-view-content {
    width: 100%;
    text-align: center;
    i {
      color: #BCBDBF;
      font-size: 24px;
      margin: 12px;
    }
    h3 {
      font-size: 20px;
      margin: 24px 0 6px 0;
      font-weight: 400;
    }
    h4 {
      font-size: 16px;
      margin: 6px 0 16px 0;
      font-weight: 400;
    }
    .profile-view-button {
      width: 100%;
      outline: none !important;
      border: none;
      text-align: left;
      display: block;
      height: 56px;
      background: #fff;
      color: #1DAAFC;
      font-size: 16px;
      border-bottom: 1px solid #eee;
      background-color: #ffffff;
      &:hover {
        background-color: #fafafa;
      }
    }
    .profile-view-title {
      text-align: left;
      margin: 0 0 0 16px;
      font-size: 12px;
    }
    .profile-close-button {
      outline: none !important;
      border: none;
      text-transform: uppercase;
      text-align: right;
      display: block;
      height: 40px;
      margin: 16px 16px 0 0;
      padding: 0 16px 0 0;
      background: #fff;
      color: #1DAAFC;
      font-weight: 500;
      font-size: .875rem;
    }
  }
}

.button-block {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  button {
    padding: 12px 24px;
    border: none;
    background: #fff;
    color: #1DAAFC;
    font-size: 16px;
  }
}

.avatar {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  cursor: pointer;
  overflow: hidden;

  .avatar-overlay {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('assets/images/camera.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    display: none;
    :hover > & {
      display: block;
    }
  }

  .avatar-error-overlay {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: rgba(200, 0, 0, 0.5);
    display: block;

    .message {
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;
      color: #fff;
    }
  }
}
